USE [master]
GO
/****** Object:  Database [ALLARD_ILL]    Script Date: 2018-11-14 11:52:54 PM ******/
CREATE DATABASE [ALLARD_ILL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALLARD_ILL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ALLARD_ILL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ALLARD_ILL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ALLARD_ILL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALLARD_ILL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALLARD_ILL]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 2018-11-14 11:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[BK_ISBN] [char](15) NOT NULL,
	[BK_TITLE] [varchar](30) NOT NULL,
	[BK_AUTHOR] [varchar](25) NOT NULL,
	[BK_PUBLISHER] [varchar](25) NOT NULL,
	[BK_PUB_YEAR] [varchar](25) NULL,
	[BK_LC_SUBJECT] [varchar](25) NOT NULL,
	[BK_PHYS_DESC] [varchar](35) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BK_ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATALOGUE]    Script Date: 2018-11-14 11:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOGUE](
	[CAT_CODE] [char](10) NOT NULL,
	[JO_ISSN] [bigint] NULL,
	[BK_ISBN] [bigint] NULL,
	[CAT_TITLE] [varchar](25) NULL,
	[CAT_AUTHORITY] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CAT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOURNAL_ITEM]    Script Date: 2018-11-14 11:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNAL_ITEM](
	[JO_ISSN] [char](20) NOT NULL,
	[JO_TITLE] [varchar](50) NOT NULL,
	[JO_ARTICLE_DOI] [varchar](35) NOT NULL,
	[JO_ARTICLE_AUTHOR] [varchar](35) NOT NULL,
	[JO_ARTICLE_TITLE] [varchar](50) NOT NULL,
	[JO_PUB_YEAR] [date] NOT NULL,
	[JO_VOLUME] [int] NOT NULL,
	[JO_ISSUE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JO_ISSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATRON]    Script Date: 2018-11-14 11:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATRON](
	[PAT_ID] [int] NOT NULL,
	[PAT_LNAME] [varchar](25) NOT NULL,
	[PAT_FNAME] [varchar](25) NOT NULL,
	[PAT_CAMP] [varchar](15) NOT NULL,
	[PAT_EMAIL] [varchar](30) NOT NULL,
	[PAT_DELMETHOD] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 2018-11-14 11:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[JO_ISSN] [char](20) NOT NULL,
	[BK_ISBN] [char](15) NOT NULL,
	[PAT_ID] [int] NOT NULL,
	[STF_ID] [int] NOT NULL,
	[REQ_CANCEL] [varchar](10) NOT NULL,
	[REQ_DUE_DATE] [date] NULL,
	[REQ_STATUS] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 2018-11-14 11:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[STF_ID] [int] NOT NULL,
	[STF_LNAME] [varchar](25) NOT NULL,
	[STF_FNAME] [varchar](25) NOT NULL,
	[STF_TITLE] [varchar](25) NULL,
	[STF_STATUS] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOOK] ([BK_ISBN], [BK_TITLE], [BK_AUTHOR], [BK_PUBLISHER], [BK_PUB_YEAR], [BK_LC_SUBJECT], [BK_PHYS_DESC]) VALUES (N'-188007710     ', N'Family Law', N'Jonathan Herring', N'Willan Publishing', N'2001-04-08', N'KB531-619', N'Leather bound edition')
INSERT [dbo].[BOOK] ([BK_ISBN], [BK_TITLE], [BK_AUTHOR], [BK_PUBLISHER], [BK_PUB_YEAR], [BK_LC_SUBJECT], [BK_PHYS_DESC]) VALUES (N'-87845         ', N'Common Law Marriage', N'Goran Lind', N'Oxford University Press', N'2008-01-11', N'K3224-3278', N'include commentary')
INSERT [dbo].[BOOK] ([BK_ISBN], [BK_TITLE], [BK_AUTHOR], [BK_PUBLISHER], [BK_PUB_YEAR], [BK_LC_SUBJECT], [BK_PHYS_DESC]) VALUES (N'-9008007731    ', N'Environmental Law', N'Staurt Bell', N'Oxford University Press', N'2008-02-04', N'K3581-(3598)', N'Eigth edition')
INSERT [dbo].[CATALOGUE] ([CAT_CODE], [JO_ISSN], [BK_ISBN], [CAT_TITLE], [CAT_AUTHORITY]) VALUES (N'k1024     ', 197326534, 978141168865, N'Law and society', N'LCCSH')
INSERT [dbo].[CATALOGUE] ([CAT_CODE], [JO_ISSN], [BK_ISBN], [CAT_TITLE], [CAT_AUTHORITY]) VALUES (N'K1701-1841', 771100001, 9781552210864, N'Labour Law', N'LCSH')
INSERT [dbo].[CATALOGUE] ([CAT_CODE], [JO_ISSN], [BK_ISBN], [CAT_TITLE], [CAT_AUTHORITY]) VALUES (N'K2390     ', 2110113303, 92314111081, N'Law & globalization', N'LCCSH')
INSERT [dbo].[JOURNAL_ITEM] ([JO_ISSN], [JO_TITLE], [JO_ARTICLE_DOI], [JO_ARTICLE_AUTHOR], [JO_ARTICLE_TITLE], [JO_PUB_YEAR], [JO_VOLUME], [JO_ISSUE]) VALUES (N'100020111           ', N'Commonwealth Law Journal', N'http://doi.org/22.312/ge.cajs', N'Sir Peter Proudfoote', N'Royal Perogative in the Colonialism Era', CAST(N'2001-01-01' AS Date), 16, 3)
INSERT [dbo].[JOURNAL_ITEM] ([JO_ISSN], [JO_TITLE], [JO_ARTICLE_DOI], [JO_ARTICLE_AUTHOR], [JO_ARTICLE_TITLE], [JO_PUB_YEAR], [JO_VOLUME], [JO_ISSUE]) VALUES (N'100642211           ', N'Law and Policy', N'doi:00017000/0000', N'Greg Davidson', N'Advancing the Concept of Freedom in Aboriginal Law', CAST(N'2002-01-01' AS Date), 3, 11)
INSERT [dbo].[JOURNAL_ITEM] ([JO_ISSN], [JO_TITLE], [JO_ARTICLE_DOI], [JO_ARTICLE_AUTHOR], [JO_ARTICLE_TITLE], [JO_PUB_YEAR], [JO_VOLUME], [JO_ISSUE]) VALUES (N'101641212           ', N'Journal of Intellectual Property Law', N'http://doi.org/10.1016/j.appdev', N'Mark Strange', N'Real Estate Taxes in Rural Canada', CAST(N'1991-01-01' AS Date), 17, 4)
INSERT [dbo].[PATRON] ([PAT_ID], [PAT_LNAME], [PAT_FNAME], [PAT_CAMP], [PAT_EMAIL], [PAT_DELMETHOD]) VALUES (108663, N'Milko', N'John', N'Point-Grey', N'jmilko@aol.com', N'Express')
INSERT [dbo].[PATRON] ([PAT_ID], [PAT_LNAME], [PAT_FNAME], [PAT_CAMP], [PAT_EMAIL], [PAT_DELMETHOD]) VALUES (109981, N'Dragon', N'Malchus', N'Okanagan', N'dmalchus@gmail.com', N'Express')
INSERT [dbo].[PATRON] ([PAT_ID], [PAT_LNAME], [PAT_FNAME], [PAT_CAMP], [PAT_EMAIL], [PAT_DELMETHOD]) VALUES (1000791, N'Chang', N'Willis', N'Okanagan', N'willchng@outlook.com', N'Walk-in')
INSERT [dbo].[REQUEST] ([JO_ISSN], [BK_ISBN], [PAT_ID], [STF_ID], [REQ_CANCEL], [REQ_DUE_DATE], [REQ_STATUS]) VALUES (N'100020111           ', N'-188007710     ', 108663, 1100, N'NA', CAST(N'2018-11-17' AS Date), N'PENDING')
INSERT [dbo].[REQUEST] ([JO_ISSN], [BK_ISBN], [PAT_ID], [STF_ID], [REQ_CANCEL], [REQ_DUE_DATE], [REQ_STATUS]) VALUES (N'101641212           ', N'-990086531     ', 109981, 1101, N'NA', CAST(N'2018-11-15' AS Date), N'PENDING')
INSERT [dbo].[REQUEST] ([JO_ISSN], [BK_ISBN], [PAT_ID], [STF_ID], [REQ_CANCEL], [REQ_DUE_DATE], [REQ_STATUS]) VALUES (N'197326534           ', N'1000811081     ', 1000791, 1102, N'NA', CAST(N'2018-11-15' AS Date), N'APPROVED')
INSERT [dbo].[STAFF] ([STF_ID], [STF_LNAME], [STF_FNAME], [STF_TITLE], [STF_STATUS]) VALUES (1100, N'Burns', N'James', N'Reference Librarian', N'Full time')
INSERT [dbo].[STAFF] ([STF_ID], [STF_LNAME], [STF_FNAME], [STF_TITLE], [STF_STATUS]) VALUES (1101, N'Matthews', N'Ronald', N'Library Assistant', N'Full time')
INSERT [dbo].[STAFF] ([STF_ID], [STF_LNAME], [STF_FNAME], [STF_TITLE], [STF_STATUS]) VALUES (1102, N'Storridge', N'Mandy', N'Library Assistant', N'Full time')
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BOOK__B97F494CDD457B67]    Script Date: 2018-11-14 11:53:07 PM ******/
ALTER TABLE [dbo].[BOOK] ADD UNIQUE NONCLUSTERED 
(
	[BK_ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CATALOGU__F82BD23755869D8C]    Script Date: 2018-11-14 11:53:07 PM ******/
ALTER TABLE [dbo].[CATALOGUE] ADD UNIQUE NONCLUSTERED 
(
	[CAT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__JOURNAL___D5AFC9517C037EAE]    Script Date: 2018-11-14 11:53:07 PM ******/
ALTER TABLE [dbo].[JOURNAL_ITEM] ADD UNIQUE NONCLUSTERED 
(
	[JO_ISSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PATRON__E85F08803CABC2EC]    Script Date: 2018-11-14 11:53:07 PM ******/
ALTER TABLE [dbo].[PATRON] ADD UNIQUE NONCLUSTERED 
(
	[PAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__STAFF__F42C444083236D86]    Script Date: 2018-11-14 11:53:07 PM ******/
ALTER TABLE [dbo].[STAFF] ADD UNIQUE NONCLUSTERED 
(
	[STF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD FOREIGN KEY([BK_ISBN])
REFERENCES [dbo].[BOOK] ([BK_ISBN])
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD FOREIGN KEY([PAT_ID])
REFERENCES [dbo].[PATRON] ([PAT_ID])
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD FOREIGN KEY([JO_ISSN])
REFERENCES [dbo].[JOURNAL_ITEM] ([JO_ISSN])
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD FOREIGN KEY([STF_ID])
REFERENCES [dbo].[STAFF] ([STF_ID])
GO
USE [master]
GO
